/* application-specific CSS here */

#wikipedia-button { margin-top: 32px; }

#wikipedia-button.touchpad {
    width: 40% !important;
    margin: 5px auto !important;
    margin-top: 48px !important;
}

.pref-icon {
  margin: 10px 10px 0px 20px;
  float: left;
}
