<div class="palm-page-header multi-line">
  <div class="palm-page-header-wrapper">
    <div class="pref-icon"><img src="images/icon32.png"></img></div>
    <div class="title">Einstellungen</div>
  </div>
</div>

<div class="palm-group">
  <div class="palm-group-title">An der Basis von Einheiten</div>
  <div class="palm-list">
    <div class="palm-row first">
      <div class="palm-row-wrapper">
        <div x-mojo-element="ToggleButton" class="togglebuttonClass"
             id="toggleBaseAge"></div>
        <div class="title">Alter anzeigen (in Ma)</div>
      </div>
    </div>
    <div class="palm-row last">
      <div class="palm-row-wrapper">
        <div x-mojo-element="ToggleButton" class="togglebuttonClass"
             id="toggleGSSP"></div>
        <div class="title">GSSP/GSSA anzeigen</div>
      </div>
    </div>
  </div>
</div>

<div class="palm-text-wrapper">
  <div id="touchpad-warning" class="palm-body-text hide"><b>Hinweis für
  TouchPad-Nutzer:</b> Aus technischen Gründen muss die App
  neugestartet werden, damit die Änderungen wirksam werden.</div>
</div>
