<div class="palm-page-header multi-line">
  <div class="palm-page-header-wrapper">
    <div class="pref-icon"><img src="images/icon32.png"></img></div>
    <div class="title" x-mojo-loc="">Einstellungen</div>
  </div>
</div>

<div class="palm-group">
  <div class="palm-group-title" x-mojo-loc="">An der Basis von Einheiten</div>
  <div class="palm-list">
    <div class="palm-row first">
      <div class="palm-row-wrapper">
        <div x-mojo-element="ToggleButton" class="togglebuttonClass"
             id="toggleBaseAge"></div>
        <div class="title" x-mojo-loc="">Alter anzeigen (in Ma)</div>
      </div>
    </div>
    <div class="palm-row last">
      <div class="palm-row-wrapper">
        <div x-mojo-element="ToggleButton" class="togglebuttonClass"
             id="toggleGSSP"></div>
        <div class="title" x-mojo-loc="">GSSP/GSSA anzeigen</div>
      </div>
    </div>
  </div>
</div>

